body, a, img, h1, h2, h3, h4, h5, h6 { margin: 0; border: 0; }
body, textarea { font-size: 12px; color: #000; font-family: Verdana, Helvetica, Arial, sans-serif; }
a { color: #777; }
a:hover { color: #aeaeae; }
body {background: #f8f8f8; }
p { text-indent: 1em; }
h2, h3, h4, h5 { margin: 1em 0 0.8em; }
fieldset { margin:0.5em 0; padding: 0.5em 1em; border: none; border-top: 0.4em solid #777 }
form label { display: block; margin: 0.5em; }
form label > span, form p > span { vertical-align:top; line-height: 1.8em; }
form label > span:first-child, form p > span:first-child, form .lists label { display:inline-block; width: 15em; text-align: right; color: #777; }
form label > input[type="checkbox"]:first-child { margin-left: 14em; }
input[type="checkbox"] { height: 1.6em; margin: 0; }
input[type="text"], input[type="password"], input[type="email"] { min-width: 20em; }
input[type="number"] { width: 5em; }
textarea { width: 50em; resize: vertical; height: 10em; }

body > header {
  background: #d3d3d3;
  border-bottom: 5px solid #7e7e7e;
  height: 64px;
  user-select: none;
}
#title { margin: auto; width: 1000px; position: relative; }
#title a { display: inline-block; width: 27em; vertical-align: middle; }
#title a img { float: left; }
#title h1 { overflow: hidden; }

.info, .warning, .error, .success { position: relative; margin: 0; padding: 5px; border: 1px solid Black; border-radius: 3px; background-color: White; background-repeat: no-repeat; background-position: left 5px center; font-style: italic;}
span.info, span.warning, span.error, span.success { margin: 0 5px; padding: 3px 5px; }
.info { color: #777; border-color: #4a4a4a; background-color: #f8f8f8;}
.warning { color: DarkGoldenRod; border-color: GoldenRod; background-color: LightGoldenRodYellow; }
.error { color: DarkRed; border-color: Red; background-color: LightSalmon; }
.success { color: DarkGreen; border-color: Green; background-color: LightGreen; }

#content { width: 100%; margin: 0 auto; }
#content > section {
  margin: 10px auto; width: 1000px; padding: 5px;
  background: #fff;
  box-shadow: 0 0 4px #bbbbbb;
}
    
#siteFooter { width: 1000px; margin: 0.5em auto; text-align: center; font-style:italic; }
#siteFooter > * { margin: auto; width: 1000px; }
